Backup/Pruebas/Service References/wcfEmailCotizador/wcfEmailCotizador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ferreyros.ClasServicioCotizador" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ferreyros.ClasServicioCotizador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="beEmail">
    <xs:sequence>
      <xs:element name="_CodigoCliente" nillable="true" type="xs:string" />
      <xs:element name="_CodigoCotizacionSap" nillable="true" type="xs:string" />
      <xs:element name="_CodigoOportunidadSAP" nillable="true" type="xs:string" />
      <xs:element name="_EmailResponsableServicio" nillable="true" type="xs:string" />
      <xs:element name="_ListaEmailCopia" nillable="true" type="tns:ArrayOfbeEmailDato" />
      <xs:element name="_ListaEmailCopiaOculta" nillable="true" type="tns:ArrayOfbeEmailDato" />
      <xs:element name="_ListaLink" nillable="true" type="tns:ArrayOfbeLink" />
      <xs:element name="_NombreProducto" nillable="true" type="xs:string" />
      <xs:element name="_NroItem" nillable="true" type="xs:string" />
      <xs:element name="_Otros" nillable="true" type="xs:string" />
      <xs:element name="_RazonSocial" nillable="true" type="xs:string" />
      <xs:element name="_TipoCSA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="beEmail" nillable="true" type="tns:beEmail" />
  <xs:complexType name="ArrayOfbeEmailDato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="beEmailDato" nillable="true" type="tns:beEmailDato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbeEmailDato" nillable="true" type="tns:ArrayOfbeEmailDato" />
  <xs:complexType name="beEmailDato">
    <xs:sequence>
      <xs:element name="_EmailDireccion" nillable="true" type="xs:string" />
      <xs:element name="_Otro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="beEmailDato" nillable="true" type="tns:beEmailDato" />
  <xs:complexType name="ArrayOfbeLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="beLink" nillable="true" type="tns:beLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbeLink" nillable="true" type="tns:ArrayOfbeLink" />
  <xs:complexType name="beLink">
    <xs:sequence>
      <xs:element name="_Nombre" nillable="true" type="xs:string" />
      <xs:element name="_Otro" nillable="true" type="xs:string" />
      <xs:element name="_Tipo" nillable="true" type="xs:string" />
      <xs:element name="_Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="beLink" nillable="true" type="tns:beLink" />
</xs:schema>